<style>
.tiny-link
{
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;

	padding: 4px;

	background: rgba(50, 70, 200, .5);
	border: 1px solid rgba(30, 40, 120, .5);
	border-bottom-width: 4px;

	color: rgba(0, 0, 0, .8);
	text-decoration: none;

	-webkit-border-radius: 3px;
	border-radius: 3px; 
}
</style>

<a href="{{ url }}" class="tiny-link">{{ title }}</a>